body {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logo {
    width: 17rem;
    height: auto;
    margin-bottom: 2rem;
}

.textbox {
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    color: black;
    display: inline-block;
    margin-bottom: 3rem;
}

.circle-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.circle-button {
    width: 650px;
    height: 60px;

    background-color: #E6E6E6;
    border: none;
    border-radius: 5px;

    text-decoration: none;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

    transition: all 0.2s ease;
    box-sizing: border-box;
    padding: 0 20px;
}

.circle-button:hover {
    background-color: #FF5000;
    color: white;
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        padding-top: 2rem;
    }

    .logo {
        width: 13rem;
    }

    .textbox {
        margin-bottom: 1.5rem;
        font-size: 0.95rem;
    }

    .circle-button {
        width: 90vw;
        max-width: 650px;
        height: 55px;
        font-size: 1rem;
    }
}
