body{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound';
    box-sizing: border-box;
}

.content {
    margin: 0 22%;
    margin-bottom: 3rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-top: 8.3rem;
    margin-bottom: 1.5rem;
}

.num {
    font-size: 1.4rem;
    color: #000;
    text-align: left;
    margin-bottom: 2rem;
}

.text {
    font-size: 0.9rem;
    color: #000;
    line-height: 1.4;
    margin-bottom: 1.3rem;
}

.t6 {
    margin-bottom: 5rem;
}

.scroll-to-top {
    width: 2.6rem;
    height: 2.6rem;
    background-color: #E6E6E6;
    color: #777777;
    font-size: 1rem;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 800px) {
    .content {
        margin: 0 8%;
        margin-bottom: 3rem;
    }    

    .scroll-to-top{
        right: 1rem;
    }
}
