.button-container {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.9rem; /* 버튼 간격 */
    z-index: 1;
}

.nav-button {
    background-color: #E6E6E6;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 20px;
    height: 40px;
    line-height: 40px; /* 텍스트 세로 중앙 정렬 */
    border-radius: 30px; /* 버튼 곡률 */
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    white-space: nowrap; /*버튼텍스트 줄바꿈 X*/
}

.b1:hover,
.b2:hover {
    font-weight: 800;
}

.b3 {
    background-color: #FF5000;
    color: white;
    font-weight: 800;
}

.prodAll_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: calc(50% + 0.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115vh; /*좌우 여백 0.5(100-?%)*/
}

.prodAll_img img {
    width: calc(100% / 6); /* 6개의 이미지가 가로로 배치되도록 설정 */
    aspect-ratio: 1; /* 정방형 비율 유지 */
}

@media (max-width: 1300px) {
    .prodAll_img {top: calc(50% + 0.5rem);}
    .prodAll_img {width: 42vh;}

    .prodAll_img img {
        width: calc(100% / 3);
        aspect-ratio: 1; /* 정방형 유지 */
    }
}

@media (max-width: 780px) {
    .button-container {
        bottom: 22px;
        display: flex;
        gap: 0.5rem; /* 버튼 간격 */
        z-index: 1;
    }
    
    .nav-button {
        font-size: 0.88rem;
        padding: 0 17px;
        height: 35px;
        line-height: 35px; /* 텍스트 세로 중앙 정렬 */
        border-radius: 30px; /* 버튼 곡률 */
    }

    .prodAll_img {top: calc(50% + 1.2rem);}
    .prodAll_img {width: 38vh;}
}