.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illust {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44.5%);
    width: 55rem;
    height: auto;
}

.points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 클릭 이벤트 방지 */
}

.point {
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 50%;
    position: absolute;
    border: 0.5px solid #FFFFFF;
    background-color: #ff5100cd;
    transform: translate(-50%, -50%);
    pointer-events: all; /* 클릭 가능 */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    display: none;
}

.popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    width: 45rem;
    height: 27rem;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 15;
    display: none;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.space_img {
    height: 63%;
    width: auto;
    padding-bottom: 0.7rem;
}

.text {
    width: 88%;
    font-size: 1rem;
    color: #000000;
    text-align: center;
}

.text .name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.text .detail {
    font-size: 1rem;
    line-height: 1.3;
}

.close-button {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E6E6E6;
    border: none;
    border-radius: 30px;
    height: 40px;
    padding: 0 90px;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
}

.close-icon {
    display: none;
}

@media (max-width: 1000px) {
    .illust {
        transform: translate(-50%, -42%);
        width: 42rem; /* 고정 너비 */
        height: auto; /* 비율 유지 */
    }
    
    .point {
        width: 1rem;
        height: 1rem;
        transform: translate(-50%, -50%);
        pointer-events: all; /* 클릭 가능 */
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        z-index: 20;
    }

    .popup-window {
        top: auto; /* 화면 하단에 */
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 80vh;
        border-radius: 20px 20px 0 0;
    }

    .popup-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 93%;
        height: 100%;
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        margin-top: 0.5rem;
        padding-top: 3.2rem; /* 닫기 버튼 아래 여백 */
    }

    .space_img {
        width: 85%;
        height: auto;
        padding-bottom: 1.5rem;

        margin: 0 auto; /* 좌우 중앙 정렬 */
        display: block; /* margin auto 적용 위해 block 지정 */
    }
    
    .text {
        width: 84%;
        text-align: start;
        padding-bottom: 3rem;
    }
    
    .text .name {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .close-button {
        display: none;
    }
}
