.button-container {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.9rem; /* 버튼 간격 */
    z-index: 1;
}

.nav-button {
    background-color: #E6E6E6;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 20px;
    height: 40px;
    line-height: 40px; /* 텍스트 세로 중앙 정렬 */
    border-radius: 30px; /* 버튼 곡률 */
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    white-space: nowrap; /*버튼텍스트 줄바꿈 X*/
}

.b1:hover,
.b3:hover { font-weight: 800; }
.b2 {
    background-color: #FF5000;
    color: white;
    font-weight: 800;
}

/* !--------------! */
.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illust {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 57.3rem;
    height: auto; /* 화면 높이의 ?% 크기 */
    max-width: 100%;
}

.illust-mobile {
    display: none;
}
.illust-desktop {
    display: block;
}

.points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.point {
    border-radius: 50%;
    position: absolute;
    background-color: #ff020200;
    transform: translate(-50%, -50%);
    pointer-events: all; /* 클릭 가능 */
}

.point.p1 {width: 7.5rem; height: 5.5rem;} /*차*/
.point.p2 {width: 8rem; height: 8rem;}
.point.p3 { /*게임*/
    width: 6.5rem; height: 7rem;
    border-radius: 3px;
}
.point.p4 { /*칼*/
    width: 13rem; height: 1.5rem;
    border-radius: 3px;
    transform: translate(-50%, -50%) rotate(19deg);
}
.point.p5 {width: 11rem; height: 8.3rem; border-radius: 30%;} /*구름*/
.point.p6 {width: 5rem; height: 5rem;} /*큐브*/
.point.p7 { /*칼*/
    width: 12.5rem; height: 1.5rem;
    border-radius: 3px;
    transform: translate(-50%, -50%) rotate(-7deg);
}
.point.p8 {width: 6.8rem; height: 7.5rem; border-radius: 20%;} /*금*/
.point.p9 {width: 9rem; height: 8.5rem; border-radius: 25%;} /*방*/
.point.p10 {width: 10rem; height: 6.4rem; border-radius: 10%;}
.point.p11 {
    width: 11rem; height: 6rem; 
    border-radius: 10%;
    transform: translate(-50%, -50%) rotate(-7deg);
}
.point.p12 {
    width: 8.2rem; height: 7.7rem; 
    border-radius: 20%;
}

@media (max-width: 1000px) {
    .illust-desktop {
        display: none;
    }
    
    .illust-mobile {
        display: block;
        height: 22rem; 
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%); /* 중앙 정렬 유지 */
    }

    .points {
        position: absolute;
        top: 2%;
        left: 0%;
        width: 0%; /* 모바일 이미지 크기에 맞춤 */
        height: 27rem; /* 모바일 이미지 크기에 맞춤 */
    }
    
    .point {
        width: 13.5rem; /* 모바일 포인트 버튼 크기 (임시값) */
        height: 2rem;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .point.p1 {width: 3.5rem; height: 2.3rem;} /*차*/
    .point.p2 {width: 4rem; height: 4rem;}
    .point.p3 { /*게임*/
        width: 3.2rem; height: 3.3rem;
        border-radius: 3px;
    }
    .point.p4 { /*칼*/
        width: 6.8rem; height: 0.8rem;
        border-radius: 3px;
        transform: translate(-50%, -50%) rotate(-15deg);
    }
    .point.p5 {width: 4.5rem; height: 3.2rem; border-radius: 20%;} /*구름*/
    .point.p6 {width: 2.7rem; height: 2.7rem;} /*큐브*/
    .point.p7 { /*칼*/
        width: 6.5rem; height: 0.9rem;
        border-radius: 2px;
        transform: translate(-50%, -50%) rotate(13deg);
    }
    .point.p8 {width: 3rem; height: 3.5rem; border-radius: 20%;} /*금*/
    .point.p9 {width: 3.7rem; height: 3.7rem; border-radius: 25%;} /*방*/
    .point.p10 {width: 4.2rem; height: 3.2rem; border-radius: 10%;}
    .point.p11 {
        width: 4.5rem; height: 2.5rem; 
        border-radius: 10%;
        transform: translate(-50%, -50%) rotate(-7deg);
    }
    .point.p12 {
        width: 3.8rem; height: 3.8rem; 
        border-radius: 20%;
    }
}

@media (max-width: 780px) {
    .button-container {
        bottom: 22px;
        display: flex;
        gap: 0.5rem; /* 버튼 간격 */
        z-index: 1;
    }
    
    .nav-button {
        font-size: 0.88rem;
        padding: 0 17px;
        height: 35px;
        line-height: 35px; /* 텍스트 세로 중앙 정렬 */
        border-radius: 30px; /* 버튼 곡률 */
    }
}
