/*나눔스퀘어라운드 폰트*/
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css');

html{font-size: 17px; /*1 rem*/}

body{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound';
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    height: 3.5rem;
    width: 100%;
    background-color: white;
    z-index: 5;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
}

.navbar .back {
    position: relative;
    left: 18%;
    top: 15%;
    font-size: 2rem;
    color: #777777;
    text-decoration: none;
    position: absolute;
}

.container {
    margin: 5rem 20%;
}

.title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 1.5rem;
}

.num {
    font-size: 1.5rem;
    color: #000;
    text-align: left;
    margin-bottom: 3rem;
}

.text_KO {
    font-size: 1rem;
    color: #000;
    line-height: 1.4;
    margin-bottom: 1.8rem;
}

.text_EN {
    font-size: 1rem;
    color: #000;
    line-height: 1.4;
    margin-bottom: 2.5rem;
}

.photos img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.scroll-to-top {
    font-family: 'NanumSquareRound';
    width: 2.5rem;
    height: 2.5rem;
    background-color: #E6E6E6;
    color: #777777;
    font-size: 1.1rem;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 950px) {
    .container {
        margin: 5rem 7%;
    }    

    .navbar .back {
        left: 6%;
    }

    .scroll-to-top{
        right: 1rem;
    }
}